<mat-toolbar color="primary">
  <mat-icon>child_care</mat-icon>
  <span>Noah Tracker</span>
</mat-toolbar>

<!-- <mat-list>
  <mat-list-item *ngFor="let item of items | async">
    <h3 matListItemTitle>{{item.activity}} 💩</h3>
    <p matLine>something else</p>
  </mat-list-item>
<mat-list> -->

<mat-list>
  <!-- <div mat-subheader>Folders</div> -->
  <mat-list-item *ngFor="let a of activity | async">
    <mat-icon svgIcon="poo" mat-list-icon></mat-icon>
    <mat-icon mat-list-icon>water_drop</mat-icon>
    <div mat-line>{{a.activity}}</div>
    <div mat-line>time: {{a.datetime.toDate() | date:'MM/dd h:mm a'}} </div>
    <mat-divider></mat-divider>
  </mat-list-item>
  
</mat-list>
  