<mat-toolbar color="primary">
  <mat-icon>child_care</mat-icon>
  <span>Noah Tracker</span>
</mat-toolbar>

<mat-list>
  <mat-list-item *ngFor="let a of activity | async">
    <mat-icon svgIcon="poo" mat-list-icon *ngIf="a.activity === 3 || a.activity === 2"></mat-icon>
    <mat-icon mat-list-icon *ngIf="a.activity === 3 || a.activity === 1">water_drop</mat-icon>
    <mat-icon mat-list-icon *ngIf="a.activity === 4">restaurant</mat-icon>
    <div mat-line>{{a.datetime.toDate() | dateAgo }} </div>
    <mat-divider></mat-divider>
  </mat-list-item>
  
</mat-list>
  